.Contol{
    display: block;
    max-width: 290px;
    margin: auto;
}
.cn{
    display: block;
    border: 2px solid blue;
}
.ncc{
    display: block;
    max-width: 88px;
    margin: auto;
}
.css{
    display: block;
    background-color: black;
    color:#00FF00;
    border-radius: 250pc;
}